body {
  background-image: url("../img/bg_3.jpg");
  background-size: auto
  /* background-attachment: fixed; */
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  display: none;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.7 !important;
}

#wrapper {
  padding: 0 !important;
}
input{
  background-color: #18191a !important;
  color: white !important;
}
