body {
  background-image: url("../img/bg_3.jpg");
  background-size: auto;
}
a {
  text-decoration: none !important;
}
::-webkit-scrollbar {
  display: none;
}
.modal-backdrop {
  --bs-backdrop-opacity: 0.2 !important;
}
