* {
  box-sizing: border-box;
}
:root {
  --headercolor: #2a3f93;
  --blogDate: #11236c;
  --nothover-btn: #749bc2;
  --hover-btn: #4682a9;
}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.cardBlogList .wrapperBlogList {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.cardBlogList .wrapperBlogList:hover .dataBlogList {
  transform: translateY(0);
}

.cardBlogList .dataBlogList {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(115px + 1em));
  transition: transform 0.3s;
}

.cardBlogList .dataBlogList .contentBlogList {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.cardBlogList .authorBlogList {
  font-size: 12px;
}

.cardBlogList .titleBlogList {
  margin-top: 10px;
}

.cardBlogList .textBlogList {
  height: 70px;
  margin: 0;
}

.cardBlogList input[type="checkbox"] {
  display: none;
}

.cardBlogList input[type="checkbox"]:checked + .menu-content {
  transform: translateY(-60px);
}

.dataBlogList {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 92%
  );
}

.authorBlogList {
  background: var(--blogDate);
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 3px 3px;
  border-radius: 5px;
}

/* .wrapper {
        background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg)
          center / cover no-repeat;
      } */

.headerBlogList {
  color: #ffffff;
  padding: 1em;
  background: var(--blogDate);
}

.headerBlogList::before,
.headerBlogList::after {
  content: "";
  display: table;
}

.headerBlogList::after {
  clear: both;
}

.headerBlogList .dateBlogList {
  float: left;
  font-size: 12px;
}

.dataBlogList {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}

.titleBlogList a {
  color: #fff;
}

.buttonBlogList {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}

.buttonBlogList::after {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.buttonBlogList:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.blog-cardPopularList {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  min-height: 180px;
}

.list h1 {
  min-height: 70px !important;
}
.list h1:first-child {
  min-height: 70px !important;
}
.aninek {
  margin-top: 2%;
  animation: customAni 500ms linear 0ms 1 normal forwards;
}

.aninek .descriptionPopularList:before {
  transform: skewX(0deg) !important;
}

.blog-cardPopularList a {
  color: inherit;
}

.blog-cardPopularList a:hover {
  color: #5ad67d;
}

.blog-cardPopularList:hover .photoPopularList {
  transform: scale(1.3) rotate(3deg);
}

.blog-cardPopularList .metaPopularList {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-cardPopularList .photoPopularList {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-cardPopularList .detailsPopularList,
.blog-cardPopularList .detailsPopularList ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-cardPopularList .detailsPopularList {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-cardPopularList .detailsPopularList .tags li {
  margin-right: 2px;
}

.blog-cardPopularList .detailsPopularList .tags li:first-child {
  margin-left: -4px;
}

.blog-cardPopularList .descriptionPopularList {
  padding: 1rem;
  background: rgb(11, 5, 44);
  position: relative;
  z-index: 1;
}

.blog-cardPopularList .descriptionPopularList h1 {
  font-family: "Montserrat", sans-serif;
  color: wheat;
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.caption-blog {
  min-height: 3.5rem;
  display: -webkit-box !important; /* Enable flexible box layout */
  -webkit-line-clamp: 3 !important; /* Limit the number of lines to 3 */
  -webkit-box-orient: vertical; /* Layout the content vertically */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Display ellipsis (...) for the truncated text */
}
.blog-cardPopularList .descriptionPopularList .read-morePopularList a:after {
  content: "(づ￣ ³￣)づ";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-cardPopularList
  .descriptionPopularList
  .read-morePopularList
  a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-cardPopularList p {
  position: relative;
  margin: 1rem 0 0;
  color: whitesmoke;
}

.blog-cardPopularList:hover .detailsPopularList {
  left: 0%;
}

@media (min-width: 640px) {
  .blog-cardPopularList {
    flex-direction: row;
    /* max-width: 700px; */
  }

  .blog-cardPopularList .metaPopularList {
    flex-basis: 40%;
    height: auto;
  }

  .blog-cardPopularList .descriptionPopularList {
    flex-basis: 60%;
  }

  .blog-cardPopularList .descriptionPopularList:before {
    transform: skewX(-3deg);
    content: "";
    background: rgb(11, 5, 44);
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.popular {
  display: flex;
}

.popular-left,
.popular-right {
  display: flex;
  flex-direction: column;
  height: 550px;
}

.cardBlogList,
.card {
  flex-grow: 1;
}

.paginatedBlogList {
  margin-top: 30px !important;
}

.icon-social-blog span {
  color: azure;
  padding: 0.5rem;
  transition: transform 0.4s;
}

.icon-social-blog span:hover img {
  transform: scale(1.2);
}

.btnRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLoadmore {
  background: var(--blogDate);
  padding: 10px 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 200 !important;
}

.buttonLoadmore:hover {
  background: var(--headercolor);
}

@keyframes customAni {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.tagFilter {
  border-top: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.tagIdFilter {
  display: inline-block;
  color: rgb(47, 47, 38);
  padding: 0.5rem 1rem;

  background-color: rgb(255, 255, 255);
}

.tagIdFilter:hover {
  background-color: #e0f4ff;
}

.buttonFilter {
  display: inline-block;
  border: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.filter-icon {
  align-items: center;
  display: flex;
  height: 1.5rem;
  position: relative;
}

.filter-icon img {
  height: 30px;
  position: relative;
  /* Required for pseudo-element positioning */
  z-index: 1;
  /* Ensure image is below the text */
  transition: transform 0.3s;
  /* Add smooth transition */
}

.filter-icon p {
  margin-bottom: 0px;
  position: relative;
  z-index: 2;
}

.filter {
  background-color: rgb(255, 255, 255);
}

.buttonFilter:hover {
  background-color: #e0f4ff;
}

.filter-icon:hover img {
  transform: scale(1.5) rotate(360deg);
  /* Scale the image on hover */
}

.filter-icon:hover p {
  font-weight: 400;
  transform: scale(1.2);
  /* Scale the image on hover */
}

/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}
.filter-text {
  color: black !important;
  font-size: 1rem;
}
/* Style the dropdown button */
.dropdown .dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown .dropbtn:hover {
  background-color: rgb(191, 205, 224);
}

.dropdown .dropbtn p {
  margin-bottom: 0;
  margin-right: 5px;
}

.dropdown .dropbtn img {
  height: 20px;
  transition: transform 0.5s;
}

.dropbtn:hover p {
  font-weight: 400;
  transform: scale(1.2);
}

.dropdown .dropbtn:hover img {
  transform: scale(1.2) rotate(810deg);
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the options inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of the options on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown:hover .dropdown-content {
  display: block;
}
.related-blog {
  position: sticky;
  top: 100px;
  z-index: 999;
}

.card-h3 {
  margin: 10px 0;
}

.card-h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

.card-text {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  background-color: #231e39a3;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #c3c8dc;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  position: sticky;
  top: 150px;
  margin-top: 10px;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
  width: 7rem;
}

button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}
button.primary a {
  color: #231e39;
}
button.primary.ghost {
  background-color: rgb(255, 0, 195);
  color: #faea3b;
}

.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  color: #e0f4ff;
  margin: 30px 10px 0px 10px;
  border-radius: 10px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}
