@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --text-white: white;
  --text-grey: rgb(192, 192, 192);
}
.bg-banner {
  background-image: url("../../public/banner-bg.png");

  background-size: cover;
  /* background-attachment: fixed; */
}
.bg-intro {
  background-image: url("../../public/bg2.png");
  background-color: #121212;
  background-size: cover;
  /* background-attachment: fixed; */
}
.bg-card-inspi {
  background-image: url("../../public/bg2.png");
  background-color: #121212;
  background-size: cover;
  /* background-attachment: fixed; */
}
.bg-blogcard {
  background-image: url("../../public/bg2.png");
  background-color: #121212;
  background-size: cover;
  /* background-attachment: fixed; */
}
.bg-tikitaka {
  background-image: url("../../public/bg2.png");
  background-color: #121212;
  background-size: cover;
  /* background-attachment: fixed; */
}
.welcome-text {
  font-weight: 500;
  font-size: large;
  color: var(--text-white);
  background: linear-gradient(
    60deg,
    rgb(45, 14, 83) 0%,
    rgb(45, 14, 83) 30%,
    rgb(96, 96, 154) 45%,

    rgb(11, 23, 155) 100%
  );
  width: fit-content;
  padding: 0.3rem 1rem;
  text-align: center;
  border: 1px solid rgba(189, 188, 188, 0.484);
  border-radius: 7px;
  margin-bottom: 1rem;
}
.banner-home {
  margin-top: 7rem !important;
}
.word,
.postword {
  display: inline;
  color: var(--text-white);
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.5rem;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.banner-summary {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--text-grey);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  word-spacing: 0.13rem;
  letter-spacing: 0.5;
}

.banner-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.banner-image img {
  width: 18rem;
}
.banner-text {
  margin: 0 auto;
}
.word-flick-ctn {
  height: 6rem;
}

/* CSS */
.button-29 {
  margin-top: 2rem;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.contact {
  display: inline-block;
  color: var(--text-white);
  margin-top: 2rem;
  padding: 0.5rem 0.5rem;
  border: 2px solid aqua;
  border-radius: 10px;
}
.para {
  scale: 0.8;
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  /* width: 20vh !important; */
  padding: 20px;
  margin: 20vh auto;
  animation: appear-para linear;
  animation-timeline: view();
  animation-range-start: 100px;
  animation-range-end: 900px;
}
@keyframes appear-para {
  0% {
    scale: 0.6;
    opacity: 0;
  }

  55% {
    scale: 1;
    opacity: 1;
  }
  65% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0.6;
    opacity: 0;
  }
}

.para:first-child {
  margin-top: 2vh;
}

.chibi {
  width: 20rem;
}
.text {
  margin-left: 30px;
}
.text .head {
  font-size: larger;
  font-weight: 500;
}

.inspi-home {
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  gap: 1rem;
}

.inspicard {
  /* opacity: 0; */
  flex: 1;
  border-radius: 1rem;
  height: 30vh;
  aspect-ratio: 1 1;
  /* margin: 10px; */
  padding: 20px;
  text-align: center;
  /* border-radius: 1.5rem; */
  animation: slide-fade-in 1s linear 0s 1 normal forwards;
  animation-timeline: view();
  animation-range-start: 100px;
  animation-range-end: 400px;
}
@keyframes slide-fade-in {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-200px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.inspicard:nth-child(1) {
  background-color: #99dbff; /* red */
  z-index: 333;
  background-image: url("../../public/homeMusic.jpg");
  background-size: cover;
}

.inspicard:nth-child(2) {
  background-color: #0a820a; /* green */
  animation-delay: 300ms;
  z-index: 332;
  background-image: url("../../public/homeBook.jpg");
  background-size: cover;
}

.inspicard:nth-child(3) {
  background-color: #ed4209; /* blue */
  animation-delay: 600ms;
  z-index: 331;
  background-image: url("../../public/homeMovie.jpg");
  background-size: cover;
}
.inspicard:nth-child(1) p {
  color: rgb(10, 79, 253);
}

.inspicard:nth-child(2) p {
  color: rgb(250, 7, 7);
}

.inspicard:nth-child(3) p {
  color: rgb(253, 237, 7);
}

.inspicard p {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 500;
}
.static {
  height: 100vh;
}

.panel {
  height: 100vh;
}
.description {
}
.introHome {
  background-color: green;
}
.inspicardHome {
  background-color: blue;
}
.tiktok-videos {
  background-color: yellow;
}
.blogHome {
  background-color: violet;
}
.swiper {
  margin-top: 10rem;
  width: 80% !important;
  height: 100% !important;
  display: flex;
}

.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  width: 250px !important;
}

.swiper-slide video {
  display: block !important;
  width: 100% !important;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0002, #0004) !important;
}
.home-card {
  margin-top: 5rem;
}
.home-card img {
  width: 25vw;
  height: 27vw;
}
.home-card-title {
  font-weight: 600;
  font-size: larger;
  margin-top: 1rem;
  color: var(--text-grey);
}
.home-card-caption {
  margin-top: 1rem;
  color: var(--text-grey);
}
