/* music */
.backgroundImg {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -80px;
}
.banner {
  display: flex;
  flex-direction: column;
}
.quote {
  max-width: 80vh !important;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.479) 100%
  );
  align-self: flex-end;
  position: relative;
  top: 4rem;
  left: -4rem;
  border-radius: 20px;
}
.quote-icon-left {
  align-self: flex-start;
}
.quote-icon-right {
  align-self: flex-end;
}
.quote-content {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: aliceblue;
}
.menuBar_inspi {
  display: flex;
  flex-direction: column;

  width: 85% !important;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  bottom: -170px;
}
.menu-list {
  width: 30rem;
}
.menu-filter {
  background-color: rgb(24, 25, 26, 0.8);
  height: 100px;
  z-index: 100;
}
.contentContainer {
  width: 84% !important;
  margin: 0 auto !important;
  position: relative;
  left: -10px;
  background-color: rgb(19, 20, 21, 0.721);
}
.menu-tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-tabs {
  border-bottom: none !important;
}
.menu-tab img {
  width: 40px;
}
.menu-tab p {
  font-family: "montserrat";
  font-weight: 60px;
  font-size: 30px;
}
.nav-item {
  background-color: rgba(0, 0, 0, 0.607);
}
.nav-item:first-child {
  border-top-left-radius: 5px;
}
.nav-item:last-child {
  border-top-right-radius: 5px;
}
.music-color.active {
  background-color: #4dc3d2 !important;
}
/* book */
.book-color.active {
  background-color: #04aa6d !important;
}
/* movie */
.movie-color.active {
  background-color: #e53222e2 !important;
}
/* .hover_inspi:hover {
  background-color: rgb(246, 255, 120) !important;
} */
.hover_inspi_other:hover {
  background-color: #c6b11f !important;
}
.movieSearchBox {
  width: 25% !important;
  margin: 20px !important;
  position: relative;
  left: 70%;
  top: 0;
}
.choosen {
  background-color: #c6b11f !important;
  color: black !important;
}
.tagIdFilter {
  border: 1px solid white;
  margin: 5px 10px;
  border-radius: 10px;
}
